<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.rural_convenience_platform.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.gy.rural_convenience_platform.entity.Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <association property="goodsImg" column="gid" javaType="com.gy.rural_convenience_platform.entity.GoodsImg">
      <id column="id" property="id"/>
      <result column="goods_id" property="goodsId"/>
      <result column="img1" property="img1"/>
      <result column="img2" property="img2"/>
      <result column="img3" property="img3"/>
      <result column="img4" property="img4"/>
    </association>
  </resultMap>

  <sql id="goods_where">
    <where>
      <if test="name != null and name != ''">
        and goods_title like '%${name}%'
      </if>
    </where>
  </sql>

  <select id="goodsPage" parameterType="map" resultMap="BaseResultMap">
    select g.*,gi.id gid,gi.goods_id,gi.img1,gi.img2,gi.img3,gi.img4 from goods g left join goods_img gi on g.id = gi.goods_id
    <where>
      <if test="name != null and name != ''">
        and goods_title like '%${name}%'
      </if>
      <if test="state != null and state != ''">
        and state = #{state}
      </if>
    </where>
  </select>

  <select id="goodsById" parameterType="Integer" resultMap="BaseResultMap">
    select g.*,gi.id gid,gi.goods_id,gi.img1,gi.img2,gi.img3,gi.img4 from goods g left join goods_img gi on g.id = gi.goods_id
     where g.id = #{id}
  </select>

  <select id="goodsRandByNum" parameterType="int" resultMap="BaseResultMap">
    select g.*,gi.id giid,gi.goods_id,gi.img1,gi.img2,gi.img3,gi.img4 from goods g left join goods_img gi on g.id = gi.goods_id
     WHERE g.id >= (SELECT floor(RAND() * (SELECT MAX(id) FROM goods ))) ORDER BY id LIMIT #{num};
  </select>

  <select id="getCheckOutGoods" resultMap="BaseResultMap">
    select g.*,gi.id giid,gi.img1 from goods g LEFT JOIN goods_img gi on g.id = gi.goods_id
    where g.id in
    (select goods_id from cart where id in
    <foreach collection="array" item="cartId" index="index" open="(" close=")" separator=",">
      #{cartId}
    </foreach>
    )
  </select>

  <update id="saveGoods" parameterType="map">
    update goods
    <set>
      <if test="goodsTitle != null">goods_title = #{goodsTitle},</if>
      <if test="goodsDesc != null">goods_desc = #{goodsDesc},</if>
      <if test="price != null">price = #{price},</if>
      <if test="inventory != null">inventory = #{inventory},</if>
      <if test="state != null">state = #{state},</if>
    </set>
    where id = #{id}
  </update>

  <update id="updGoodsImg" parameterType="map">
    update goods_img
    <set>
      <if test="img1 != null">img1 = #{img1},</if>
      <if test="img2 != null">img2 = #{img2},</if>
      <if test="img3 != null">img3 = #{img3},</if>
      <if test="img4 != null">img4 = #{img4},</if>
    </set>
    where goods_id = #{goodsId}
  </update>

  <insert id="addGoods" parameterType="com.gy.rural_convenience_platform.entity.Goods" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into goods(goods_title,goods_desc,price,inventory,state) values (#{goodsTitle},#{goodsDesc},#{price},#{inventory},0)
  </insert>

  <insert id="addGoodsImg" parameterType="map">
    insert into goods_img(goods_id,img1,img2,img3,img4) values (#{goodsId},#{img1},#{img2},#{img3},#{img4})
  </insert>

</mapper>