<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.rural_convenience_platform.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.gy.rural_convenience_platform.entity.Notice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="notice_date" jdbcType="VARCHAR" property="noticeDate" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
    <result column="create_per" jdbcType="VARCHAR" property="createPer" />
  </resultMap>

  <insert id="addNotice" parameterType="map">
    INSERT INTO notice ( title, content, notice_date, img, is_del, create_per )
    VALUES(#{title},#{content},CURRENT_TIMESTAMP,#{url},0,#{username})
  </insert>

  <select id="getNoticePage" parameterType="map" resultMap="BaseResultMap">
    SELECT
        id,
        title,
        content,
        notice_date,
        img,
        is_del,
        create_per
    FROM
        notice
    <where>
        <if test="isDel != null">
            and is_del = #{isDel}
        </if>
        <if test="title != null">
            and title like '%${title}%'
        </if>
    </where>
    ORDER BY
        notice_date DESC
  </select>

    <update id="stopNotice" parameterType="string">
        update notice set is_del = '1' where id = #{id}
    </update>

    <select id="getNotice" parameterType="string" resultMap="BaseResultMap">
        select
            id,
            title,
            content,
            notice_date,
            img,
            is_del,
            create_per
        from notice
        where id = #{id}
    </select>

    <update id="saveNotice" parameterType="map">
        update notice
        set title = #{title},content = #{content},notice_date = CURRENT_TIMESTAMP,img = #{img},create_per = #{username}
        where id = #{id}
    </update>

</mapper>